<?xml version="1.0" encoding="UTF-8"?>
<ruleset name="Symfony">
    <description>The Symfony coding standard.</description>

    <!-- Where to look -->
    <file>src</file>
    <!-- Only include the tests directory if it exists -->
    <file>tests</file>

    <!-- What to exclude -->
    <exclude-pattern>*/vendor/*</exclude-pattern>

    <!-- Use PSR-12 -->
    <rule ref="PSR12"/>

    <!-- Symfony specific rules -->
    <rule ref="Generic.Arrays.DisallowLongArraySyntax"/>
    <rule ref="Generic.Formatting.SpaceAfterNot"/>
    <rule ref="Generic.Formatting.SpaceAfterCast"/>

    <!-- Lines can be 120 chars long, but never show errors -->
    <rule ref="Generic.Files.LineLength">
        <properties>
            <property name="absoluteLineLimit" value="0"/>
        </properties>
    </rule>

    <!-- Ban some functions -->
    <rule ref="Generic.PHP.ForbiddenFunctions">
        <properties>
            <property name="forbiddenFunctions" type="array">
                <element key="sizeof" value="count"/>
                <element key="delete" value="unset"/>
                <element key="print" value="echo"/>
                <element key="is_null" value="null"/>
                <element key="create_function" value="null"/>
            </property>
        </properties>
    </rule>
</ruleset>